
{% extends 'base.html' %}
{% load static %}


{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><div class="container">
  <a href="#top" class="top">
    <i class="fa-solid fa-jet-fighter-up"></i>
  </a>
  <div class="collapse navbar-collapse">
  <div class="navbar-nav me-auto">
    <a class="navbar-brand logo" href="{% url 'home' %}">
      <img src="{% static 'images/logo.png' %}" alt="logo"></img>
      &nbsp;&nbsp;
      <span class="robo">Robo</span>school</a>
  </div>

  <div class="d-flex">
    <a href="{% url 'kirish' %}" class="btn btn-light btn1">
    <i class="fa-solid fa-right-to-bracket"></i>
    &nbsp; Kirish
    </a>
    
    <a href="{% url 'registration' %}" class="btn btn-danger btn2">
    <i class="fa-solid fa-user-plus"></i>
    &nbsp;Ro'yxatdan o'tish
    </a>
  
  </div>
  </div>
  </div>
</nav>
      

<nav class="navbar navbar-expand-sm bg-light justify-content-center p-0 b-shadow">
  <ul class="navbar-nav dem">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'h_news' %}">IT maqolalar</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-secondary" href="##">Vedio teach</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-secondary" href="##">Amaliyot</a>
    </li>

    <li class="nav-item">
      <a href="##" class="nav-link text-secondary">Test</a>
    </li>

    <li class="nav-item">
      <a href="{% url 'h_courses' %}" class="nav-link text-secondary">Kurslar
      </a>
    </li>

  </ul>
</nav>
{% endblock %}



{% block savollar %}
{% endblock %}


{% block asoschilari%}
{% endblock %}


{% block body %}
<!-- border: 1px solid red; -->
<div style="background-color: #f6f6f6;">
  

<!-- style="border: 1px solid red;" -->
<div class="container mt-4">
  <div class="row">
    <!-- style="border: 1px solid red;" -->
    <div class="col-md-9" >
    
  <!-- Navbarning chegasasi -->
  <!-- style="border: 1px solid red;" -->
  <nav class="navbar navbar-light" >
  <div class="container-fluid">
  <a class="navbar-brand fs-4">Masalalar to'plami</a>
  
  <div class="me-2">
    <a class="btn border border-dark me-3" href="{% url 'h_news' %}" role="button">Hammasi
    </a>
    
    <a class="btn btn-dark me-3" href="{% url 'h_tasks' %}" role="button">
    Topshiriq
    </a>

    <a class="btn border border-dark me-3" href="{% url 'h_articles' %}" role="button">
    Maqola
    </a>
    
    <a class="btn border border-dark" href="{% url 'h_codes' %}" role="button">Dasturlar
    </a>
  
  </div>
  
  </div>
  </nav>
  <!-- Navbarning chegarasi -->
<!-- style="border: 1px solid red;" -->
  <div class="container-fluid mt-2" >
<!-- style="border: 1px solid red;" -->
  <div class="row mb-5">
    


     {% for t in task %}
     <!-- col-md-6 -->
     <div class="col-md-6">
      
      <!-- cards -->
      <div class="cardd shadow-sm p-3 mb-5 bg-body rounded m{%if forloop.counter|divisibleby:2 %}s{%else%}e{%endif%}-auto mt-4" style="width: 24rem;">
      <img src="{%if t.image%}{{t.image.url}}{%endif%}" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">
      <a class="text-dark" href="{% url 'h_t_open' t.pk %}">{{ t.title }}</a>
      </h5>
      <p class="card-text">{{ t.description }}</p>
      <span class="text-muted me-3"><i class="fa-solid fa-eye"></i> 12K</span>
      <span class="text-muted"><i class="fa-solid fa-clock"></i> {{ t.datetime}}</span>
      </div>
      </div>
      <!-- cards -->

     </div>
     <!-- col-md-6 -->
     {% endfor %}



</div>
</div>
</div>

<!-- col-md-3 -->
<!-- style="border: 1px solid red;" -->
<div class="col-md-3" >
  
  
 <!-- Card -->
 <div class="cardd shadow-sm p-3 mb-5 bg-body rounded mt-5" style="width: 18rem;">
 <img src="{% static 'images/man_woman.gif' %}" class="card-img-top" alt="...">
 <div class="card-body">
 <h5 class="card-title">Card title</h5>
 <p class="card-text">Some quick example</p>
 </div>
</div>
 <!-- Card -->

  <!-- Card -->
 <div class="cardd shadow-sm p-3 mb-5 bg-body rounded mt-5" style="width: 18rem;">
 <img src="{% static 'images/man_woman.gif' %}" class="card-img-top" alt="...">
 <div class="card-body">
 <h5 class="card-title">Card title</h5>
 <p class="card-text">Some quick example</p>
 </div>
</div>
 <!-- Card -->


 <!-- Card -->
 <div class="cardd shadow-sm p-3 mb-5 bg-body rounded mt-5" style="width: 18rem;">
 <img src="{% static 'images/man_woman.gif' %}" class="card-img-top" alt="...">
 <div class="card-body">
 <h5 class="card-title">Card title</h5>
 <p class="card-text">Some quick example</p>
 </div>
</div>
 <!-- Card -->


</div>
<!-- col-md-3 -->

</div>
</div>
</div>
{% endblock %}