
{% extends 'base.html' %}
{% load static %}


{% block menu %}
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a href="#top" class="top">
            <i class="fa-solid fa-jet-fighter-up"></i>
          </a>
          <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto">
              
              <a href="{% url 'h_t_page' %}" class="navbar-brand logo">
                <img src="{% static 'images/logo.png' %}" alt="logo"></i>&nbsp;&nbsp; <span class="robo">Robo</span>school</a>
  
              <div id="snackbar">Web sahifa manzili nusxalandi...</div>
            </div>

            <div class="d-flex">
              
    <div class="dropdown">
    <span class="text-white dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user me-1"></i> {{ request.user.first_name }} {{ request.user.last_name }}</span>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{% url 'h_t_profile' %}">Profile</a></li>
    <li><a class="dropdown-item" href="{% url 'logout_view' %}">Chiqish</a></li>
    </ul>
    </div>
  
            </div>
          </div>
        </div>
      </nav>
  <nav class="navbar navbar-expand-sm bg-light justify-content-center p-0 b-shadow">
        <ul class="navbar-nav dem">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#"> IT maqolalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Vedio teach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Amaliyot</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-secondary">Test</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'h_t_c_all' %}" class="nav-link text-secondary">Kurslar</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'h_t_mycourses' %}" class="nav-link text-secondary">Mening kurslarim</a>
          </li>
        </ul>
      </nav>
{% endblock %}



{% block savollar %}
{% endblock %}


{% block asoschilari%}
{% endblock %}


{% block body %}
<div class="container-fluid" style=" height: 600px;">

<div class="container mt-5">
  <div class="page-header mb-4">
                <h2 class="page-heading">Mening shaxsiy ma'lumotlarim</h2>
              </div>
  <div class="row g-2">
    <div class="col-3">
      <div class="p-3 border shadow-sm p-3 mb-5 bg-body rounded">
        
        <!-- * -->
        <div class="card" style="width: 15rem;">
        <img src="
            {% if request.user.userstaff.staff_image %}
            {{ request.user.userstaff.staff_image.url }}
            {% else %}
            {% if request.user.sex == 'Erkak' %}
            {% static 'images/man.png' %}
            {% else %}
            {% static 'images/woman.png' %}
            {% endif %}
            {% endif %}
            " class="card-img-top" alt="...">
        <div class="card-body">
          
          <h5 class="card-title mx-auto" style="width: 200px;">{{ request.user.first_name }} {{ request.user.last_name }}</h5>

          <p class="card-text text-muted fs-6">{{ request.user.userstaff.about }}</p>

        </div>
      </div>
        <!-- * -->

      </div>
    </div>

    <div class="col-9">
      <div class="p-3 border shadow-sm p-3 mb-5 bg-body rounded">
        <!-- * -->
        <table class="table">
  <tbody>
    <tr>
      <th scope="row">Familya</th>
      <td>{{request.user.last_name}}</td>
    </tr>
    <tr>
      <th scope="row">Ism</th>
      <td>{{request.user.first_name}}</td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td colspan="2">{{request.user.email}}</td>
    </tr>
    <tr>
      <th scope="row">Tel nomber</th>
      <td colspan="2">{{request.user.userstaff.phone_number}}</td>
    </tr>
    <tr>
      <th scope="row">Adress</th>
      <td colspan="2">{{request.user.userstaff.address}}</td>
    </tr>

    <tr>
      <th scope="row">Login</th>
      <td colspan="2">{{request.user.username}}</td>
    </tr>

    <tr>
      <th scope="row">Parol</th>
      <td colspan="2">{{request.user.password}}
      <p>Parolni ko'rsatishni imkoni yo'q lekin yangi parol yaratishingiz mumkun</p>
    </td>
    </tr>
  </tbody>
</table>
<a href="{% url 'h_t_up_profile' %}">
<button type="button" class="btn btn-primary">Ma'lumotlarni yangilash</button>
</a>
        <!-- * -->
      </div>
    </div>


    <div class="col-6">
      <!-- <div class="p-3 border bg-light">Custom column padding</div> -->
    </div>


    <div class="col-6">
      <!-- <div class="p-3 border bg-light">Custom column padding</div> -->
    </div>


  </div>

</div>

</div>
{% endblock %}
