
{% extends 'base.html' %}
{% load static %}


{% block menu %}
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a href="#top" class="top">
            <i class="fa-solid fa-jet-fighter-up"></i>
          </a>
          <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto">
              
              <a href="{% url 'h_t_page' %}" class="navbar-brand logo">
                <img src="{% static 'images/logo.png' %}" alt="logo"></i>&nbsp;&nbsp; <span class="robo">Robo</span>school</a>
  
              <div id="snackbar">Web sahifa manzili nusxalandi...</div>
            </div>

            <div class="d-flex">
              
    <div class="dropdown">
    <span class="text-white dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user me-1"></i> {{ request.user.first_name }} {{ request.user.last_name }}</span>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{% url 'h_t_profile' %}">Profile</a></li>
    <li><a class="dropdown-item" href="{% url 'logout_view' %}">Chiqish</a></li>
    </ul>
    </div>
  
            </div>
          </div>
        </div>
      </nav>
  <nav class="navbar navbar-expand-sm bg-light justify-content-center p-0 b-shadow">
        <ul class="navbar-nav dem">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="{% url 'h_t_news' %}"> IT maqolalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Vedio teach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Amaliyot</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-secondary">Test</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'h_t_c_all' %}" class="nav-link text-secondary">Kurslar</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'h_t_mycourses' %}" class="nav-link text-secondary">Mening kurslarim</a>
          </li>
        </ul>
      </nav>
{% endblock %}



{% block savollar %}
{% endblock %}


{% block asoschilari%}
{% endblock %}


{% block body %}
<div class="container-fluid mb-5" style=" height: auto;">
<div class="container mt-5 mb-5">
<div class="page-header mb-5">
<h2 class="page-heading">Dars yaratish</h2>
</div>
</div>


<div class="container">
<div class="row">
    
    
    <form method="POST" action="">
    {% csrf_token %}
    <!-- # -->
    <div class="col-sm-12 col-md-12 mb-3">
    <!-- # -->
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sarlavhani kiriting</label>
    {{form.title}}
    </div>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mavzu haqida qisqacha yozing</label>
    {{form.description}}
    </div> 

    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Darsni to'liq yozish maydoni</label><br>
    {{form.media}}
    {{form.text}}
    </div>
    <button type="submit" class="btn btn-primary">Yaratish</button>
    <!-- # -->
    </div>
    <!-- # -->
    </form>
  
    
</div>
</div>


</div>
{% endblock %}