{% extends 'moderator_html_database/base.html' %}
{% load static %}


{% block LARGE_LABEL %}
            <h1 class="m-0">O'qituvchi qo'shish</h1>
            {% endblock %}

{% block where_page %}
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Asosiy</a></li>
              <li class="breadcrumb-item active">O'qituvchi qo'shish</li>
            </ol>
          </div>
          {% endblock %}


 {% block moderator_database %}
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-table"></i>
              <p>
                Foydalanuvchilar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'm_student_database' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>O'quvchi</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'm_teach_database' %}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>O'qituvchi</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'moderator_database' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Boshqaruvchi</p>
                </a>
              </li>
            </ul>
          </li>
          {% endblock %}



          
{% block base_window %}
     <!-- Main content -->
    <section class="content">
      <form method="POST" action="{% url 'm_teach_create' %}" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Tizimga yangi o'qituvchi qo'shish</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>

           <!--  -->

 <div class="card-body">
              
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
            <label for="inputName">Familya</label>
            {{ form.last_name }}
            </div>
            </div>


            <div class="col-md-6">
            <div class="form-group">
            <label for="inputName">Ism</label>
            {{ form.first_name }}
            </div>
            </div>
            </div>

            <div class="row">
            
            <div class="col-md-6">
            <div class="form-group">
            <label for="inputName">Jinsi</label>
            {{ form.sex }}
            </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
            <label for="inputName">Tel nomber</label>
            {{ form.phone_number }}
            </div>
            </div>

            </div>
            

            <div class="row">

            <div class="col-md-6">
            <div class="form-group">
            <label for="inputName">Email</label>
            {{ form.email }}
            </div>
            </div>

            <div class="col-md-6">
             <div class="form-group">
              <label for="exampleInputFile">Rasm</label>
              {{ form.staff_image }}

            </div>
            </div>

            </div>
 
            <div class="form-group">
            <label for="inputClientCompany">Login</label>
            {{ form.username }}
            </div>

            <div class="form-group">
            <label for="inputClientCompany">Parol</label>
            {{ form.password1 }}
            </div>

            <div class="form-group">
            <label for="inputClientCompany">Parol qayta</label>
            {{ form.password2 }}
            </div>



            </div>

           <!--  -->


            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">orqaga</a>
          <input type="submit" value="Yaratish" class="btn btn-success float-right">
        </div>
      </div>
    </form>
    </section>
    <!-- /.content -->
{% endblock %}


